/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
.autocomplete .auto-hint, .tools div svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.code-editor {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
}

.code {
  width: 100%;
  height: calc(80% - 30px);
  resize: none;
  z-index: 400;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #232323;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  color: #eee;
  outline: none;
}

.code-editor {
  width: 70%;
  height: 85%;
  bottom: 50px;
  z-index: 99999;
  box-shadow: 0px 0px 10px #333;
  background: white;
}

.code-toggle {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 5px #333;
  line-height: 40px;
  color: #0dff00;
  font-weight: 700;
  font-family: monospace;
  cursor: pointer;
  background: #111;
}

.autocomplete-header {
  height: 30px;
  background: #1f1f1f;
  display: flex;
}
.autocomplete-header div {
  flex: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
  line-height: 30px;
}

.autocomplete {
  background: #121212;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 20%;
  overflow: auto;
}
.autocomplete .auto-hint {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family: monospace;
  color: #333;
}
.autocomplete .auto-row {
  width: 100%;
  background: #171717;
  display: flex;
  color: #ccc;
}
.autocomplete .auto-row div {
  flex: 1;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-family: monospace;
}

.tools {
  position: fixed;
  right: 5px;
  bottom: 5px;
}
.tools div {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #111;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.tools div svg {
  color: white;
  height: 20px;
  width: 20px;
}

.settings-modal {
  height: 30%;
  width: 30%;
  position: fixed;
  right: 5px;
  bottom: 45px;
  background: #1d1d1d;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  z-index: 999;
  display: none;
  color: white;
}
.settings-modal .setting {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}
.settings-modal .setting-flex {
  display: flex;
}
.settings-modal .setting-flex .setting-left, .settings-modal .setting-flex .setting-right {
  flex: 1;
}

.settings-modal input:not([type=number]), .settings-modal select {
  outline: none;
  border: none;
  margin: 5px;
  padding: 5px;
  width: 90%;
  position: relative;
}

.settings-modal input {
  outline: none;
  border: none;
}

.setting-button {
  font-size: 14px;
  background: #444;
  border-radius: 5px;
  position: relative;
  margin: 5px;
  padding: 3px;
  padding-left: 6px;
  cursor: pointer;
}

.button-active {
  border: 2px solid #00f3ff;
}

.help-modal {
  height: 30%;
  width: 30%;
  position: fixed;
  right: 5px;
  bottom: 45px;
  background: #1d1d1d;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  z-index: 999;
  color: white;
  display: none;
}
.help-modal .parent-ul {
  margin-left: -30px;
}
.help-modal li {
  list-style-type: none;
  left: -40px;
}
.help-modal a {
  color: #ddd;
}