/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
.code {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
}

.code {
  width: 75%;
  height: 75%;
  bottom: 50px;
  resize: none;
  z-index: 400;
  border-radius: 5px;
  background: #232323;
  border: none;
  box-shadow: 0px 0px 10px #333;
  padding: 10px;
  color: #eee;
}

.code-toggle {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 5px #333;
  line-height: 40px;
  color: #0dff00;
  font-weight: 700;
  font-family: monospace;
  cursor: pointer;
  background: #111;
}