@use "ext";

* {
	user-select: none;
}
body {
	margin: 0;
}

.code {
   @extend %center-x;
   width: 75%;
   height: 75%;
   bottom: 50px;
   resize: none;
   z-index: 400;
   border-radius: 5px;
   background: rgb(35, 35, 35);
   border: none;
   box-shadow: 0px 0px 10px #333;
   padding: 10px;
   color: #eee;
}

.code-toggle {
   position: fixed;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 5px;
   border-radius: 5px;
   text-align: center;
   height: 40px;
   width: 40px;
   // border: 2px solid #eee;
   box-shadow: 0px 0px 5px #333;
   line-height: 40px;
   color: rgb(13, 255, 0);
   font-weight: 700;
   font-family: monospace;
   cursor: pointer;
   background: #111;
}